<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Map Url</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contactInfos; let i = index">
      <th>{{ i + 1 }}</th>
      <th>{{ item.address }}</th>
      <th>{{ item.phone }}</th>
      <th>{{ item.email }}</th>
      <th>{{ item.mapUrl | slice:0:22}}...</th>
      <td style="display: flex; gap: 10px">
        <button class="btn btn-outline-danger" (click)="delete(item.id)">
          <i class="fa fa-trash"></i>
        </button>
        <button
          class="btn btn-outline-info"
          data-bs-toggle="modal"
          data-bs-target="#updateModal"
          (click)="onSelected(item)"
        >
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createModal">
  <i class="fa fa-plus"></i> Add new
</button>

<!-- Create Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form #createForm="ngForm" (ngSubmit)="create(); createForm.resetForm()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Add new Contact Info</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Address</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Address"
              name="address"
              [(ngModel)]="newContactInfo.address"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Address'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Phone"
              name="phone"
              [(ngModel)]="newContactInfo.phone"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Phone'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Email"
              name="email"
              [(ngModel)]="newContactInfo.email"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Email'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Map Url</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Map Url"
              name="mapUrl"
              [(ngModel)]="newContactInfo.mapUrl"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'MapUrl'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fa fa-times"></i> Close
          </button>
          <button
            type="button"
            [disabled]="createForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            <i class="fa fa-save"></i> Save changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--Create Modal -->

<!-- Update Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form #updateForm="ngForm" (ngSubmit)="update()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Update Contact Info</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
           <div class="form-group">
            <label for="">Address</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Address"
              name="address"
              [(ngModel)]="editContactInfo.address"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Address'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Phone"
              name="phone"
              [(ngModel)]="editContactInfo.phone"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Phone'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Email"
              name="email"
              [(ngModel)]="editContactInfo.email"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'Email'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Map Url</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Map Url"
              name="mapUrl"
              [(ngModel)]="editContactInfo.mapUrl"
            />
            <div *ngIf="errors.length > 0">
              <div *ngFor="let errorObj of errors">
                <div *ngFor="let entry of errorObj | keyvalue">
                  <div *ngIf="entry.key === 'MapUrl'">
                    <span class="text-danger">{{ entry.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fa fa-times"></i> Close
          </button>
          <button
            type="button"
            [disabled]="updateForm.invalid || !updateForm.dirty"
            type="submit"
            class="btn btn-primary"
          >
            <i class="fa fa-save"></i> Save changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--Update Modal -->
