  <!-- Slider Section -->
    <section id="slider" class="slider section dark-background">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper init-swiper">
          <div class="swiper-wrapper">
           @for (item of latestBlogs; track $index) {

             <div class="swiper-slide" style="background-image: url('{{item.coverImage}}');">
               <div class="content">
                 <h2><a [routerLink]="['/blogdetails/',item.id]">{{item.title}}</a></h2>
                 <p>{{item.description | slice:0:150}}</p>
                </div>
              </div>

            }
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- /Slider Section -->

    @for (item of blogsWithCategories; track $index) {

      <!-- Culture Category Section -->
      <section id="culture-category" class="culture-category section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <div class="section-title-container d-flex align-items-center justify-content-between">
            <h2>{{item.categoryName}}</h2>
            <p><a href="#">See All {{item.categoryName}}</a></p>
          </div>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="row">
            <div class="col-md-9">

              @for (blog of item.blogs; track $index) {
                @if($index===0){

                  <div class="d-lg-flex post-entry">
                    <a href="#" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                      <img src="{{blog.coverImage}}" alt="" class="img-fluid">
                    </a>
                    <div>
                      <div class="post-meta"><span class="date">{{item.categoryName}}</span> <span class="mx-1">•</span> <span>{{blog.createdAt | date}}</span></div>
                      <h3><a href="blog-details.html">{{blog.title}}</a></h3>
                      <p>{{blog.description | slice:0:100}}</p>
                      <div class="d-flex align-items-center author">
                        <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                        <div class="name">
                          <h3 class="m-0 p-0">{{blog.user.firstName}} {{blog.user.lastName}}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                }

}
              <div class="row">
                @for (blog of item.blogs; track $index) {

                  <div class="col-lg-4">
                    <div class="post-list border-bottom">
                      <a href="blog-details.html"><img src="{{blog.coverImage}}" alt="" class="img-fluid"></a>
                      <div class="post-meta"><span class="date">{{item.categoryName}}</span> <span class="mx-1">•</span> <span>{{blog.createdAt | date}}</span></div>
                      <h2 class="mb-2"><a href="blog-details.html">{{blog.title}}</a></h2>
                      <span class="author mb-3 d-block">{{blog.user.firstName}} {{blog.user.lastName}}</span>
                      <p class="mb-4 d-block">{{blog.description | slice:0:100}}</p>
                    </div>


                  </div>
                }

                <div class="col-lg-8">

                </div>
              </div>
            </div>

            <div class="col-md-3">

  @for (blog of item.blogs; track $index) {

    <div class="post-list border-bottom">
      <div class="post-meta"><span class="date">{{item.categoryName}}</span> <span class="mx-1">•</span> <span>{{blog.createdAt | date}}</span></div>
      <h2 class="mb-2"><a href="blog-details.html">{{blog.title}}</a></h2>
      <span class="author mb-3 d-block">{{blog.user.firstName }} {{blog.user.lastName}}</span>
    </div>
  }


            </div>
          </div>

        </div>

      </section><!-- /Culture Category Section -->
    }

