<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Category Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categories; let i = index">
      <th>{{ i + 1 }}</th>
      <th>{{ item.categoryName }}</th>
      <td style="display: flex; gap: 10px">
        <button class="btn btn-outline-danger" (click)="delete(item.id)">Remove</button>
        <button class="btn btn-outline-info">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createModal">
  Add new
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form #createForm="ngForm" (ngSubmit)="createCategory(); createForm.resetForm() ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Add new Category</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Category Name</label>
            <input
              required=""
              type="text"
              class="form-control"
              placeholder="Write Category Name"
              name="categoryName"
              [(ngModel)]="newCategory.categoryName"
            />
            <div  *ngIf="errors[0]?.propertyName === 'CategoryName'">
              <span class="text-danger" *ngFor="let error of errors">{{ error.errorMessage }}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button
            type="button"
            [disabled]="createForm.invalid"
            type="submit"
            class="btn btn-primary"

          >
            Save changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
